<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="footer">
    <footer class="site-footer container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="main-footer">
                    <ul class="social">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copyright">
                <p>Copyright &copy; 2017 <a href="#">snafx</a></p>
            </div>
        </div>
    </footer>
</div>


</body>
</html>